# Some junk folders
__pycache__/
.vscode/
GSAT/
Revision/
Datasets/
bugfix/
Reference_projects/

# Experimental data: e.g., model weights, etc.
models/
datasets/
Experimental_Results/
Experimental_Results_old/
Experimental_Artifacts/